#about {
    background-color: white;
}

.container-about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-about {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
}

.about {
    width: 50vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.information {
    margin: 30px 60px;
}

.about-link {
    display: flex;
    gap: 10px;
    z-index: 2;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.about-link a {
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease;
}

.about-link a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.about-image {
    background: url('https://i.imgur.com/UcP14Qm.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    width: 30vw;
    height: 75vh;
    border-radius: 5px;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.quadradrinhos-about .square {
    background-color: lightgray;
}

.quadradrinhosInverse-about .square {
    background-color: #D8BFD8;
}

@media screen and (max-width: 912px) {
    .container-about {
        flex-direction: column-reverse;
    }

    .title-about {
        font-size: 3em;
        text-transform: uppercase;
        margin: 40px 0 0 20px;
    }

    .about {
        width: 100vw;
        height: auto;
        margin-bottom: 50px;
    }

    .about-image {
        width: 400px;
        height: 500px;
        margin-top: 50px;
        border-radius: 50%;
        align-self: center;
    }
}

@media screen and (max-width: 450px) {
    .about-image {
        width: 250px;
        height: 300px;
        margin-bottom: 50px;
        border-radius: 50%;
    }
}