#projects {
    min-height: 100vh;
    background: lightgray;
}

.container-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.container-projects .project1,
.container-projects .project2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-projects .project1 .img1,
.container-projects .project2 .img2 {
    display: flex;
    width: 600px;
    height: 700px;
    background-color: #333;
}

.quadradrinhos-projects .square {
    background-color: #001971;
}

@media screen and (max-width: 1300px) {
    .container-projects {
        flex-direction: column;
        gap: 100px;
    }

    .container-projects .project1,
    .container-projects .project2 {
        width: 600px;
    }

    .container-projects .project1 .img1,
    .container-projects .project2 .img2 {
        width: 600px;
        height: 700px;
    }
}

@media screen and (max-width: 768px) {

    .container-projects .project1,
    .container-projects .project2 {
        width: 300px;
    }

    .container-projects .project1 .img1,
    .container-projects .project2 .img2 {
        width: 300px;
        height: 350px;
    }
}