header {
    width: 100%;
    height: 8vh;
    background: #1C1C1C;
    padding: 0 3rem;
    transition: 0.3s ease all;
    position: fixed;
}

.content {
    overflow: hidden;
    color: #fff;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

.content .content-logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.content .content-nav {
    display: flex;
    width: auto;
    height: 100%;
}

.content .content-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
}

.content .content-nav ul li a {
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    transition: 0.3s ease all;
}

.content .content-nav ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.content-button {
    display: none;
}

@media screen and (max-width: 912px) {
    header {
        padding: 0 1.5rem;
    }

    .content .content-logo {
        font-size: 1.5rem;
    }

    .content .content-nav {
        display: flex;
        align-items: center;
        position: fixed;
        top: 8vh;
        left: 0;
        width: 50vw;
        background: rgba(0, 0, 0, 0.97);
        z-index: 998;
        transition: transform 0.3s ease;
        transform: translate(-100%);
    }

    .content-nav.show {
        transform: translate(0);
    }

    .content .content-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin: 0 auto;
        gap: 30px;
    }

    .content .content-nav ul li a {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .content-button {
        display: block;
        cursor: pointer;
    }
}